body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f8f9fa; /* Default background color */
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  margin: 100px auto; /* Centering the container vertically */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  margin-top: 20px; /* Add margin to the top of each button */
  margin: 5px;
}
